html {
  font-family: Merriweather, serif;
}

main {
  background-color: #fff;
}

table {
  border: 1px solid #ccc;
}

th, td {
  border: 1px solid #ccc;
}

td {
  height: 9em;
}

button {
  background-color: #d2d6f0;
  border-radius: 8px;
  color: #38448e;
  border: 1px solid #1d38da;
}

.btn {
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #666;
  border-radius: 8px;
}

.btn-ghost {
  background-color: #f2bcbc;
  border: 1px solid #b92828;
  color: #991919;
}

.btn-light {
  background-color: #d1e0bf;
  border: 1px solid #6b7e54;
  color: #51603f;
}
